.tweet {
    margin-top:50px;
    margin: auto;
}



.body {
    width: 50%;
    margin-bottom: 30px;
    margin: auto;
}

.field {
    width: 50%;
    margin-bottom: 30px;
    margin: auto;
}


.input {
    width: 80%;
    margin-bottom: 20px;
}

#showreplies0{
    margin-right: auto;
}

#replies{
    padding-left: 50px;
    width: 100%;

    
}